/* Estilos para el main-header y los elementos */
#main-header {
  background: #ebe7e7;
  color: #000000;
  height: 7vh;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  border-width: thin;
  border-style: solid;
  border-color: #000;
  box-shadow: 1px 1px 1px 2px rgb(143, 142, 142);
  z-index: 100;
}

#Header-Seg {
  width: 100%;
  height: 6.5vh;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.header-item {
  margin-left: 1.5vw; /* Margen izquierdo relativo */
  margin-top: 1vh; /* Margen superior relativo */
  height: auto;
  position: relative;
}
.header-item:hover {
  margin-top: 5px;
  background-color: rgb(247, 246, 247);
}

.header-item h2 {
  margin: 0;
  font-size: 4vh;
}

.Lit-Yo-Item {
  width: 5vw; 
  margin-left: 1vw; 
  margin-right: 1vw; 
  margin-top: 1vh;

}


.Lit-Yo-Item img {
  max-width: 60%; 
  max-height: 60%;
}


/* Estilos para los elementos del main-body */
#main-body {
  background: #c0c6c3;
  padding-top: 60px;
}
a{
  color: #000;
}
/* Media Query para ajustar el tamaño de fuente en dispositivos móviles */
@media screen and (max-width: 600px) {
  .header-item h2 {
    font-size: 14px; /* Tamaño de fuente más pequeño para dispositivos móviles */
  }

  .Lit-Yo-Item img {
    max-width: 80%; /* Ajustar el ancho de la imagen para que se haga más pequeña */
  }
  #main-body {
    padding-top: 100px;
  }
}