.box-sizing-Git {
  position: absolute;
  width: 8vw; 
  height: 8vw; 
  left: 5vw; 
  top: 10vw; 
}

.box-sizing-Lengu {
  position: absolute;
  width: 7vw; 
  height: 8vw; 
  left: 30vw; 
  top: 25vw; 
}

.box-sizing-Proyects {
  position: absolute;
  width: 9vw; 
  height: 9vw;
  left: 45vw; 
  top: 15vw;
}

.box-sizing-Cv {
  position: absolute;
  width: 16vw; 
  height: 13vw; 
  left: 58vw; 
  top: 32vw; 
}
.box-sizing-Git img,
.box-sizing-Lengu img,
.box-sizing-Proyects img,
.box-sizing-Cv img {
  max-width: 70%; 
  max-height: 100%; 
}
.box-sizing-Git h4,
.box-sizing-Lengu h4,
.box-sizing-Proyects h4,
.box-sizing-Cv h4 {
  font-size: 1vw; /* Tamaño de fuente relativo */
}
/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
  .box-sizing-Git {
    width: 50px;
    height: 50px;
    left: 30px;
    top: 100px;
    max-width: 80%;
  }

  .box-sizing-Lengu {
    width: 50px;
    height: 50px;
    left: 150px;
    top: 300px;
    max-width: 80%;
  }

  .box-sizing-Proyects {
    width: 60px;
    height: 60px;
    left: 250px;
    top: 500px;
    max-width: 80%;
  }


  .box-sizing-Cv {
    width: 80px;
    max-width: 80%;
    height: 70px;
    left: 200px;
    top: 700px;
  }
}