#main-body {
  background: #c0c6c3;
  padding-top: 60px;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
}
.box-sizing-Git,
.box-sizing-Lengu,
.box-sizing-Proyects,
.box-sizing-Cv {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.box-sizing-Git {
  position: absolute;
  width: 8vw; 
  height: 8vw; 
  left: 5vw; 
  top: 10vw; 
}

.selected {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  background-color: #c0c6c3;
  border: #f0f0f0;
  
}

.box-sizing-Lengu {
  position: absolute;
  width: 7vw; 
  height: 8vw; 
  left: 30vw; 
  top: 25vw; 
  cursor: pointer;
}

.box-sizing-Proyects {
  position: absolute;
  width: 9vw; 
  height: 9vw;
  left: 45vw; 
  top: 15vw;
}
.box-sizing-Cv {
  position: absolute;
  width: 16vw; 
  height: 13vw; 
  left: 84vw; 
  top: 32vw; 
}
.box-sizing-Git img,
.box-sizing-Lengu img,
.box-sizing-Proyects img,
.box-sizing-Cv img {
  max-width: 70%; 
  max-height: 100%; 
  user-select: none;
  pointer-events: none;
}
.box-sizing-Git h4,
.box-sizing-Lengu h4,
.box-sizing-Proyects h4,
.box-sizing-Cv h4 {
  font-size: 1vw; 
  user-select: none;
  pointer-events: none;
}
.box-sizing-Git :hover,
.box-sizing-Lengu :hover,
.box-sizing-Proyects :hover,
.box-sizing-Cv :hover {
  margin-top: 0.15vw;
  pointer-events: none;
}
/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
  .box-sizing-Git {
    width: 50px;
    height: 50px;
    left: 30px;
    top: 100px;
    max-width: 80%;
  }

  .box-sizing-Lengu {
    width: 50px;
    height: 50px;
    left: 150px;
    top: 300px;
    max-width: 80%;
  }

  .box-sizing-Proyects {
    width: 60px;
    height: 60px;
    left: 250px;
    top: 500px;
    max-width: 80%;
  }


  .box-sizing-Cv {
    width: 80px;
    max-width: 80%;
    height: 70px;
    left: 200px;
    top: 700px;
  }
}